@import '../../../scss/colors';

:host {
    display: contents;
}

.container {
    position: relative;
    background-color:rgb(14,16,24);
    background: radial-gradient(circle, rgba(14,16,24,1) 0%, rgba(21,26,47,1) 15%);;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 400px;
    box-sizing: border-box;
}