<div id="info" class="flex centered">
    <div class="title">
        bitbang
    </div>
    <div class="mission column space-around front">
        <h1>
            we design & build <br> your MVP in 60 days
        </h1>
        <pre>
            Bitbang makes ideas like yours 
            thrive in digital world with a 
            rapid and agile process.
        </pre>
        <a class="book-now-link">
            Book now
        </a>
    </div>
    <!-- <bb-abstract-container >
    </bb-abstract-container> -->
</div>